#board {
  float: left;
  margin-right: 25px;
}

#board table th {
  text-align: center;
}

#board table td {
  height: 100px;
  width: 100px;
  text-align: center;
  vertical-align: middle;
  font-size: 14px;
  font-weight: bold;
}


#board table tr td a {
  color: rgb(0, 102, 204);
}

#board table tr:nth-child(1) td:nth-child(3n+2) a,
#board table tr:nth-child(2) td:nth-child(3) a,
#board table tr:nth-child(3) td:nth-child(3n+1) a,
#board table tr:nth-child(4) td:nth-child(3n+2) a,
#board table tr:nth-child(5) td:nth-child(3) a {
  color: rgb(255, 0, 0);
}

#board table tr:nth-child(1) td:nth-child(3) a,
#board table tr:nth-child(2) td:nth-child(3n+1) a,
#board table tr:nth-child(3) td:nth-child(3n+2) a,
#board table tr:nth-child(4) td:nth-child(3) a,
#board table tr:nth-child(5) td:nth-child(3n+1) a {
  color: rgb(0, 138, 53);
}

#board table tr td {
  background-color: rgb(250, 250, 250);
}

#board table tr:nth-child(even) td {
  background-color: rgb(245, 245, 245);
}

#board table tr td:nth-child(even) {
  background-color: rgb(245, 245, 245);
}

#board table tr:nth-child(even) td:nth-child(even) {
  background-color: rgb(240, 240, 240);
}

#board table tr:nth-child(3) td:nth-child(3) {
  background-color: #ffffff;
}

#board table tr td.marked {
  background-image: url("/images/greycheck-70.png");
  background-position: center center;
  background-repeat: no-repeat;
}

#board table tr td.marked a {
  color: #666666 !important;
  text-decoration: line-through;
}

#badges {
  float: left;
}

#badges .iconlist li {
  height: 33px;
  padding-left: 60px;
  padding-top: 15px;
  margin-bottom: 15px;
}

.boardBadges {
  width: 280px;
}

#badges.boardBadges .iconlist li {
  padding-top: 10px;
  height: 38px;
}

.clearFloats {
  clear: both;
}
