#board {
  float: left;
}

#board table th {
  text-align: center;
}

#board table td {
  height: 85px;
  width: 85px;
  text-align: center;
  vertical-align: middle;
}

#board table td.scored {
  background-color: #00a950;
}

#badges {
  margin: 0 50px;
  float: left;
}

#badges .iconlist li {
  height: 48px;
  padding-left: 55px;
}
