{% extends "layout.html" %}
{% block header %}
{% endblock %}
{% block content %}
  <p class="note">
    Welcome to Buzz Bingo.  This is your game board.  Participate in a
    conversation and @-mention
    <a href="http://www.google.com/profiles/iobuzzbingo">iobuzzbingo@gmail.com</a>
    to score.
  </p>
  <br /><br />
  <table id="board">
    <thead>
      <tr>
        <th>B</th>
        <th>I</th>
        <th>N</th>
        <th>G</th>
        <th>O</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <a href="http://mail.google.com/mail/?shva=1#buzz/search/Buzz" target="_blank">
            Buzz
          </a>
        </td>
        <td>
          <a href="http://mail.google.com/mail/?shva=1#buzz/search/PubSubHubbub" target="_blank">
            PubSubHubbub
          </a>
        </td>
        <td>
          <a href="http://mail.google.com/mail/?shva=1#buzz/search/Android" target="_blank">
            Android
          </a>
        </td>
        <td>
          <a href="http://mail.google.com/mail/?shva=1#buzz/search/ChromeOS" target="_blank">
            ChromeOS
          </a>
        </td>
        <td>
          <a href="http://mail.google.com/mail/?shva=1#buzz/search/Apps+Marketplace" target="_blank">
            Apps Marketplace
          </a>
        </td>
      </tr>
      <tr>
        <td>Etc</td>
        <td>Etc</td>
        <td>Etc</td>
        <td>Etc</td>
        <td>Etc</td>
      </tr>
      <tr>
        <td>Etc</td>
        <td>Etc</td>
        <td>Etc</td>
        <td>Etc</td>
        <td>Etc</td>
      </tr>
      <tr>
        <td>Etc</td>
        <td>Etc</td>
        <td>Etc</td>
        <td>Etc</td>
        <td>Etc</td>
      </tr>
      <tr>
        <td>Etc</td>
        <td>Etc</td>
        <td>Etc</td>
        <td>Etc</td>
        <td>Etc</td>
      </tr>
    </tbody>
  </table>
{% endblock %}
