{% extends "layout.html" %}
{% block header %}
{% endblock %}
{% block content %}
  <div class="g-section g-tpl-140">
    <div class="g-unit g-first">
      <ul id="nav">
        <li><a href="/oauth/init/">Sign in</a></li>
        <li><a href="/leaderboard/">Leaderboard</a></li>
      </ul>
    </div>  
    <div id="gc-pagecontent" class="g-unit" style="position: relative;">
      <h1>Buzz Bingo: Join conversations to win!</h1>
      <p>
        <ol>
          <li><a href="/oauth/init/">Sign into the game</a>.</li>
          <li><strong>Join Buzz conversations</strong> and mention the game by including "<strong>@buzzbingo.io@gmail.com</strong>" in your Buzz comment.</li>
          <li><strong>One keyword</strong> per conversation <strong>will be marked on the board</strong>.</li>
          <li>Get <strong>5 keywords in a line</strong> marked off, and <strong>Bingo!</strong>  You win.</li>
          <li><a href="/leaderboard/">Check the leaderboard</a>.</li>
          <li>Keep playing until you're on it!</li>
        </ol>
      </p>
      <br />
      <h2>Gameplay badges:</h2>
      <div id="badges" class="homeBadges">
        <ul class="iconlist">
          {% for badge in badge_types %}
            <li style="background: url('{{ badge.badge_icon }}') no-repeat left top;">
              <strong>{{ badge.badge_title }}</strong> — {{ badge.badge_description }}
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class="clearFloats"></div>
      <br /><br />
      <p>
        Questions?  Ask <a href="http://buzz.timothyjordan.com" target="_blank">Timothy</a> or <a href="http://buzz.sporkmonger.com" target="_blank">Bob</a>
      </p>
    </div>
  </div>
{% endblock %}
