{% extends "layout.html" %}
{% block header %}
{% endblock %}
{% block content %}
  <div class="g-section g-tpl-140">
    <div class="g-unit g-first">
      <ul id="nav">
        <li><a href="/play/">Sign in</a></li>
        <li><a href="/leaderboard/">Leaderboard</a></li>
      </ul>
    </div>  
    <div id="gc-pagecontent" class="g-unit" style="position: relative;">
      <h1>Buzz Bingo: Join conversations to win!</h1>
      <p>
        <ol>
          <li><a href="/play/">Sign into the game</a>.</li>
          <li><strong>Join Buzz conversations</strong> and mention the game by including "<strong>@iobuzzbingo@gmail.com</strong>" in your Buzz comment.</li>
          <li><strong>One keyword</strong> per conversation <strong>will be marked on the board</strong>.</li>
          <li>Get <strong>5 keywords in a line</strong> marked off, and <strong>Bingo!</strong>  You win.</li>
          <li><a href="/leaderboard/">Check the leaderboard</a>.</li>
          <li>Keep playing until you're on it!</li>
        </ol>
      </p>
      <br />
      <h2>Gameplay badges:</h2>
      <table>
        <tr>
          <td><img src="http://www.google.com/images/icons/check-48.gif" width="48" height="48" alt="hello world checkmark badge"></td>
          <td><strong>Hello World!</strong> - Start playing Buzz Bingo.</td>
        </tr>
        <tr>
          <td><img src="http://www.google.com/images/icons/milestone-48.png" width="48" height="48" alt="geo marker badge"></td>
          <td><strong>Geo</strong> - Join a conversation that contains geo data.</td>
        </tr>
        <tr>
          <td><img src="http://www.google.com/images/icons/share-48.gif" width="48" height="48" alt="share badge"></td>
          <td><strong>Share and share alike</strong> - Join a conversation that links somewhere.</td>
        </tr>
        <tr>
          <td><img src="http://www.google.com/images/icons/racing-48.gif" width="48" height="48" alt="bingo flag badge"></td>
          <td><strong>Bingo</strong> - Complete one Bingo.</td>
        </tr>
        <tr>
          <td><img src="http://www.google.com/images/icons/mobile-48.gif" width="48" height="48" alt="mobile phone badge"></td>
          <td><strong>Mobile</strong> - Join a conversation from your mobile.</td>
        </tr>
        <tr>
          <td><img src="http://www.google.com/images/icons/scholar-48.gif" width="48" height="48" alt="scholar diploma badge"></td>
          <td><strong>Scholar</strong> - Contribute over 200 words to a conversation in one comment.</td>
        </tr>
        <tr>
          <td><img src="http://www.google.com/images/icons/pegman_award-48.gif" width="48" height="48" alt="daily leader"></td>
          <td><strong>Daily leader</strong> - Complete the most Bingos in one day.</td>
        </tr>
      </table>
      <br /><br />
      <p>
        Questions?  Ask <a href="http://buzz.timothyjordan.com" target="_blank">Timothy</a> or <a href="http://buzz.sporkmonger.com" target="_blank">Bob</a>
    </div>
  </div>
{% endblock %}
